Code runnen van donderdagopdracht.py

In [1]:
import pandas as pd
import pyodbc
from ydata_profiling import ProfileReport

# Maak verbinding met de Microsoft Access-database
conn_str = (
    r"Driver={Microsoft Access Driver (*.mdb, *.accdb)};"
    r"DBQ=C:\\Users\\Burto\\Downloads\\GO-databases DEDS-week 4 & 5\databases\\go_sales.accdb;"
    r"ExtendedAnsiSQL=1;"
)
conn = pyodbc.connect(conn_str)

# Haal de gegevens op uit de order_details en order_header tabellen
df_details = pd.read_sql_query("SELECT * FROM order_details", conn)
df_header = pd.read_sql_query("SELECT * FROM order_header", conn)
df_product = pd.read_sql_query("SELECT * FROM product", conn)

df_METHOD = pd.read_sql_query("SELECT ORDER_METHOD_CODE FROM order_header", conn)
df_TIJD = pd.read_sql_query("SELECT ORDER_DATE FROM order_header", conn)

C:\Users\Burto\AppData\Local\Temp\ipykernel_5164\509960423.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_details = pd.read_sql_query("SELECT * FROM order_details", conn)
C:\Users\Burto\AppData\Local\Temp\ipykernel_5164\509960423.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_header = pd.read_sql_query("SELECT * FROM order_header", conn)
C:\Users\Burto\AppData\Local\Temp\ipykernel_5164\509960423.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_product = pd.read_sql_query("SELECT * FROM product", conn)
C:\Users\Burto\AppData\Local\Temp\ipykernel_5164\509960423.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_METHOD = pd.read_sql_query("SELECT ORDER_METHOD_CODE FROM order_header", conn)
C:\Users\Burto\AppData\Local\Temp\ipykernel_5164\509960423.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_TIJD = pd.read_sql_query("SELECT ORDER_DATE FROM order_header", conn)

Vervolgens laat ik een rapport maken van de data (dfBesteldProduct)

In [2]:
#profile = ProfileReport(dfBesteldProduct, title = 'Kwaliteitsrapportage dfBesteldProduct')
#profile.to_widgets()
profile2 = ProfileReport(df_product, title = 'Kwaliteitsrapportage dfPRODUCT')
profile2.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\Burto\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

Missende variabelen vinden

In [3]:
df_product.loc[df_product['PRODUCT_TYPE_CODE'].isna(),:]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
8,61,10-1-2021,None,20,.5,P61ME2TL9.jpg,EN,Granite Axe,Camping axe with clear coated wood handle.
16,69,15-2-2011,None,73.33,.33,P69PA3EW11.jpg,EN,Polar Ice,Polar Ice sunglasses have polarized lenses to ...
36,114,15-12-2019,None,80,.6,Course Pro Golf Bag,EN,P114GE5GA21.jpg,High quality golf bag that includes carrying s...
65,28,15-2-2011,None,24,.2,P28CE1PK4.jpg,None,Canyon Mule Cooler,"A durable plastic cooler with hinged top, perf..."
88,51,10-1-2021,None,35,.5,EN,P51ME2CA8.jpg,Granite Belay,The Granite Belay is an ingenious single rope ...
104,102,10-12-2019,None,380.95,.51,P102GE5IR18.jpg,None,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...

Bekijk alles wat 'Granite' heet

In [4]:
subset_product_nullProductType_name_like_granite = df_product.loc[(~df_product['PRODUCT_TYPE_CODE'].isna())&(df_product['PRODUCT_NAME'].str.contains('Granite')),:]
subset_product_nullProductType_name_like_granite

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
3,56,10-1-2021,8,9,.5,P56ME2CA8.jpg,None,Granite Chalk Bag,Nylon web bag perfect for holding several stic...
4,57,10-1-2021,9,40,.5,P57ME2TL9.jpg,EN,Granite Ice,A general purpose mountaineering axe for snow ...
5,58,10-1-2021,9,57.13,.28,P58ME2TL9.jpg,EN,Granite Hammer,A solid hammer made with a solid hard wood han...
6,59,10-1-2021,9,46.15,.23,EN,P59ME2TL9.jpg,Granite Shovel,Shovel has removable aluminum handle and heat ...
7,60,10-1-2021,9,10,.5,P60ME2TL9.jpg,EN,Granite Grip,All-purpose stainless steel pliers. Sheath inc...
9,62,10-1-2021,9,47.06,.4,P62ME2TL9.jpg,EN,Granite Extreme,The Edge Extreme is a collapsible plier-shaped...
83,46,10-1-2021,7,52.86,.28,P46ME2SY7.jpg,EN,Granite Climbing Helmet,This UIAA approved helmet fits adults and kids...
86,49,Day or night signal mirror with gridded sighti...,7,16.5,.5,P49ME2SY7.jpg,EN,Granite Signal Mirror,10-1-2021
87,50,10-1-2021,8,2,.5,P50ME2CA8.jpg,EN,Granite Carabiner,Made from 12 mm rod stock aluminum and a radiu...
89,52,10-1-2021,8,19,.5,P52ME2CA8.jpg,EN,Granite Pulley,None

De meeste waarden hier bij Product_Type_code is 9; vul dus alles maar in met 9.

<br/><br/>
Dubbel check hoeveelheid null waarden

In [5]:

df_product['PRODUCT_TYPE_CODE'].isna().sum()

6

In [6]:
# Selecteer rijen waarvoor PRODUCT_TYPE_CODE leeg is en PRODUCT_NAME 'Granite' bevat
mask = (df_product['PRODUCT_TYPE_CODE'].isnull()) & (df_product['PRODUCT_NAME'].str.contains('Granite'))

# Werk de PRODUCT_TYPE_CODE-kolom bij naar 9 voor de geselecteerde rijen
df_product.loc[mask, 'PRODUCT_TYPE_CODE'] = 9

Kijk wat er nu nog mis is.

In [7]:
df_product['PRODUCT_TYPE_CODE'].isna().sum()

4

Check opnieuw wat er over is

In [8]:
df_product.loc[df_product['PRODUCT_TYPE_CODE'].isna(),:]

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION
16,69,15-2-2011,None,73.33,.33,P69PA3EW11.jpg,EN,Polar Ice,Polar Ice sunglasses have polarized lenses to ...
36,114,15-12-2019,None,80,.6,Course Pro Golf Bag,EN,P114GE5GA21.jpg,High quality golf bag that includes carrying s...
65,28,15-2-2011,None,24,.2,P28CE1PK4.jpg,None,Canyon Mule Cooler,"A durable plastic cooler with hinged top, perf..."
104,102,10-12-2019,None,380.95,.51,P102GE5IR18.jpg,None,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...

Volgens het datarapport is 90% van de language in product 'EN'; en de rest is foutieve data. Laten we alles wat leeg is veranderen in 'EN'. Hier waren we eigenlijk nog niet mee bezig, maar dit is een probleem die ik tussendoor gevonden heb en makkelijk op te lossen vond.

In [9]:
df_product['language'] = df_product['LANGUAGE'].fillna('EN')

Laten we nu tussendoor voor het uitzoeken van de productcodes de volgende waarden verwisselen:<br/>
LANGUAGE en PRODUCT_IMAGE van PRODUCT_NUMBER = 51;<br/>
PRODUCT_IMAGE en PRODUCT_NAME van PRODUCT_NUMBER = 114;

In [10]:
# Selecteer de rij met PRODUCT_NUMBER = 51 en sla de index op in een variabele
idx = df_product[df_product['PRODUCT_NUMBER'] == 51].index

# Controleer of de index niet leeg is
if len(idx) > 0:
    # Sla de waarden op in tijdelijke variabelen
    temp_language = df_product.loc[idx[0], 'LANGUAGE']
    temp_image = df_product.loc[idx[0], 'PRODUCT_IMAGE']

    # Verwissel de waarden
    df_product.loc[idx[0], 'LANGUAGE'] = temp_image
    df_product.loc[idx[0], 'PRODUCT_IMAGE'] = temp_language
else:
    print("Geen rij gevonden met PRODUCT_NUMBER = 51")

#Herhaal voor 114
idx = df_product[df_product['PRODUCT_NUMBER']==114].index
if len(idx) > 0:
    temp_image = df_product.loc[idx[0],'PRODUCT_IMAGE']
    temp_naam = df_product.loc[idx[0],'PRODUCT_NAME']
    df_product.loc[idx[0],'PRODUCT_IMAGE'] = temp_naam
    df_product.loc[idx[0],'PRODUCT_NAME'] = temp_image
else:
    print("Geen rij gevonden met PRODUCT_NUMBER 114")

Geen rij gevonden met PRODUCT_NUMBER = 51
Geen rij gevonden met PRODUCT_NUMBER 114

Check datatype per kolom

In [11]:
df_product.dtypes

PRODUCT_NUMBER       object
INTRODUCTION_DATE    object
PRODUCT_TYPE_CODE    object
PRODUCTION_COST      object
MARGIN               object
PRODUCT_IMAGE        object
LANGUAGE             object
PRODUCT_NAME         object
DESCRIPTION          object
language             object
dtype: object

Vind de hoogste waarde product_number.

In de Access Database wordt aangegeven dat de hoogste waarde van PRODUCT_TYPE_CODE 21 is.

In [12]:
highest_product_number = df_product['PRODUCT_NUMBER'].max()
print(highest_product_number)

99

Bekijk de code en verwissel data zo nodig. Vul lege waarden met "onbekend"

In [13]:
import re

# Zet kolommen om naar het juiste datatype
df_product['PRODUCT_NUMBER'] = pd.to_numeric(df_product['PRODUCT_NUMBER'], errors='coerce')
df_product['INTRODUCTION_DATE'] = pd.to_datetime(df_product['INTRODUCTION_DATE'], format='%d-%m-%Y', errors='coerce')
df_product['PRODUCT_TYPE_CODE'] = pd.to_numeric(df_product['PRODUCT_TYPE_CODE'], downcast='integer', errors='coerce')
df_product['PRODUCTION_COST'] = pd.to_numeric(df_product['PRODUCTION_COST'], downcast='float', errors='coerce')
df_product['MARGIN'] = pd.to_numeric(df_product['MARGIN'].str.replace(',', '.'), errors='coerce')
df_product['PRODUCT_IMAGE'] = df_product['PRODUCT_IMAGE'].astype(str)
df_product['LANGUAGE'] = df_product['LANGUAGE'].astype(str)
df_product['PRODUCT_NAME'] = df_product['PRODUCT_NAME'].astype(str)
df_product['DESCRIPTION'] = df_product['DESCRIPTION'].astype(str)

# Validatie van PRODUCT_NUMBER
for idx, value in df_product['PRODUCT_NUMBER'].items():
    if pd.isna(value):
        df_product.at[idx, 'PRODUCT_NUMBER'] = 'onbekend'
    elif not isinstance(value, int):
        df_product.at[idx, 'PRODUCT_NUMBER'] = df_product.at[idx, 'PRODUCTION_COST']
        df_product.at[idx, 'PRODUCTION_COST'] = df_product.at[idx, 'MARGIN']
        df_product.at[idx, 'MARGIN'] = df_product.at[idx, 'PRODUCT_TYPE_CODE']
        df_product.at[idx, 'PRODUCT_TYPE_CODE'] = df_product.at[idx, 'INTRODUCTION_DATE']
        df_product.at[idx, 'INTRODUCTION_DATE'] = df_product.at[idx, 'PRODUCT_IMAGE']
        df_product.at[idx, 'PRODUCT_IMAGE'] = df_product.at[idx, 'LANGUAGE']
        df_product.at[idx, 'LANGUAGE'] = df_product.at[idx, 'PRODUCT_NAME']
        df_product.at[idx, 'PRODUCT_NAME'] = df_product.at[idx, 'DESCRIPTION']
        df_product.at[idx, 'DESCRIPTION'] = 'onbekend'
    elif value < 0 or isinstance(value, bool):
        df_product.at[idx, 'PRODUCT_NUMBER'] = df_product.at[idx, 'PRODUCTION_COST']
        df_product.at[idx, 'PRODUCTION_COST'] = df_product.at[idx, 'MARGIN']
        df_product.at[idx, 'MARGIN'] = df_product.at[idx, 'PRODUCT_TYPE_CODE']
        df_product.at[idx, 'PRODUCT_TYPE_CODE'] = df_product.at[idx, 'INTRODUCTION_DATE']
        df_product.at[idx, 'INTRODUCTION_DATE'] = df_product.at[idx, 'PRODUCT_IMAGE']
        df_product.at[idx, 'PRODUCT_IMAGE'] = df_product.at[idx, 'LANGUAGE']
        df_product.at[idx, 'LANGUAGE'] = df_product.at[idx, 'PRODUCT_NAME']
        df_product.at[idx, 'PRODUCT_NAME'] = df_product.at[idx, 'DESCRIPTION']
        df_product.at[idx, 'DESCRIPTION'] = 'onbekend'

Rapport nummer 2

In [14]:
profile3 = ProfileReport(df_product, title = 'Kwaliteitsrapportage dfPRODUCT')
profile3.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

Op sommige plaatsen is PRODUCT_IMAGE en LANUGAGE nog steeds verwisseld, hier is de code om dat te fixen.

In [15]:
for index, row in df_product.iterrows():
    # Verwissel LANGUAGE en PRODUCT_IMAGE indien nodig
    if row["LANGUAGE"] != "EN" and row["PRODUCT_IMAGE"].endswith(".jpg"):
        df_product.at[index, "LANGUAGE"], df_product.at[index, "PRODUCT_IMAGE"] = \
        df_product.at[index, "PRODUCT_IMAGE"], df_product.at[index, "LANGUAGE"]

Controleer of tekst in LANGUAGE gelijk is aan 'EN'. zo niet, verwissel waarden met cel dat wel  'EN' is.

In [16]:
for i, row in df_product.iterrows():
    if row['LANGUAGE'] != 'EN':
        for col in df_product.columns:
            if row[col] == 'EN':
                df_product.at[i, 'LANGUAGE'], df_product.at[i, col] = df_product.at[i, col], df_product.at[i, 'LANGUAGE']
                break

Verwijder duplicate kolom

In [17]:
df_product = df_product.loc[:, ~df_product.columns.duplicated()]
df_product = df_product.drop('language', axis=1)

Controleer of alles wat eindigt op .jpg ook daadwerkelijk in de kolom PRODUCT_IMAGE staat. Zo nee, verwissel inhoud met PRODUCT_IMAGE op dezelfde rij.

In [18]:
for i, row in df_product.iterrows():
    for col in df_product.columns:
        if col != 'PRODUCT_IMAGE' and str(row[col]).endswith('.jpg'):
            df_product.at[i, col], df_product.at[i, 'PRODUCT_IMAGE'] = df_product.at[i, 'PRODUCT_IMAGE'], df_product.at[i, col]

Ik heb vervolgens in het output excel bestand gekeken wat er nog meer opgeschoond moet worden ronddom PRODUCT_IMAGE. Dat kwam neer op het volgende stappenplan:<br/>
Verwissel PRODUCT_IMAGE en PRODUCTION_COST waar PRODUCT_NUMBER gelijk is aan 7 (1 value)<br/>
Verwissel PRODUCT_IMAGE en MARGIN waar PRODUCT_NUMBER gelijk is aan 111 (1 value)<br/>
Verwissel PRODUCT_IMAGE en INTRODUCTION_DATE waar INTRODUCTION_DATE leeg is en PRODUCT_IMAGE niet eindigt op '.jpg' (minstens 5 values)<br/>

In [19]:
#Verwissel PRODUCT_IMAGE en PRODUCTION_COST waar PRODUCT_NUMBER gelijk is aan 7
mask = (df_product['PRODUCT_NUMBER'] == 7)
df_product.loc[mask, ['PRODUCT_IMAGE', 'PRODUCTION_COST']] = df_product.loc[mask, ['PRODUCTION_COST', 'PRODUCT_IMAGE']].values

#Verwissel PRODUCT_IMAGE en MARGIN waar PRODUCT_NUMBER gelijk is aan 111
mask = (df_product['PRODUCT_NUMBER'] == 111)
df_product.loc[mask, ['PRODUCT_IMAGE', 'MARGIN']] = df_product.loc[mask, ['MARGIN', 'PRODUCT_IMAGE']].values

#Verwissel PRODUCT_IMAGE en INTRODUCTION_DATE waar INTRODUCTION_DATE leeg is en PRODUCT_IMAGE niet eindigt op '.jpg'
df_product['PRODUCT_IMAGE'] = df_product['PRODUCT_IMAGE'].fillna('')
mask = (df_product['INTRODUCTION_DATE'].isnull()) & (~df_product['PRODUCT_IMAGE'].str.endswith('.jpg'))
df_product.loc[mask, ['PRODUCT_IMAGE', 'INTRODUCTION_DATE']] = df_product.loc[mask, ['INTRODUCTION_DATE', 'PRODUCT_IMAGE']].values

Poging 2 om product number 7 en 111 te fixen

In [20]:
mask = df_product['PRODUCT_NUMBER'] == 7
df_product.loc[mask, ['PRODUCT_IMAGE', 'PRODUCTION_COST']] = df_product.loc[mask, ['PRODUCTION_COST', 'PRODUCT_IMAGE']].values

In [21]:
mask = df_product['PRODUCT_NUMBER'] == 111
df_product.loc[mask, ['PRODUCT_IMAGE', 'MARGIN']] = df_product.loc[mask, ['MARGIN', 'PRODUCT_IMAGE']].values

Verwissel alles wat lijkt op een datum in PRODUCT_NAME met ITNRODUCTION_DATE, maar alleen als INTRODUCTION_DATE leeg is.

In [22]:
#Verwissel PRODUCT_IMAGE en PRODUCTION_COST waar PRODUCT_NUMBER gelijk is aan 7
mask = df_product['PRODUCT_NUMBER'] == 7
df_product.loc[mask, ['PRODUCT_IMAGE', 'PRODUCTION_COST']] = df_product.loc[mask, ['PRODUCTION_COST', 'PRODUCT_IMAGE']].values

#Verwissel PRODUCT_IMAGE en MARGIN waar PRODUCT_NUMBER gelijk is aan 111
mask = df_product['PRODUCT_NUMBER'] == 111
df_product.loc[mask, ['PRODUCT_IMAGE', 'MARGIN']] = df_product.loc[mask, ['MARGIN', 'PRODUCT_IMAGE']].values

#Verwissel PRODUCT_NAME en INTRODUCTION_DATE waar INTRODUCTION_DATE leeg is en PRODUCT_NAME een datum bevat
mask = (df_product['INTRODUCTION_DATE'].isnull()) & (~df_product['PRODUCT_NAME'].isnull())
date_pattern = r'\d{1,2}[-/]\d{1,2}[-/]\d{2,4}'
df_product.loc[mask, 'PRODUCT_NAME'] = df_product.loc[mask, 'PRODUCT_NAME'].apply(lambda x: re.sub(date_pattern, str(df_product.loc[mask, 'INTRODUCTION_DATE'].values[0]), str(x)))

Verwissel vervolgens numerieke waarden in PRODUCT_NAME die kleiner zijn dan 1 met MARGIN, en degenen die groter zijn dan 1 met PRODUCTION_COST.

In [23]:

numeric_pattern = r'\d+(\.\d+)?'
df_product['numeric_value'] = df_product['PRODUCT_NAME'].str.extract(numeric_pattern, expand=False).astype(float)

mask = (df_product['numeric_value'] < 1)
df_product.loc[mask, ['MARGIN', 'PRODUCT_NAME']] = df_product.loc[mask, ['PRODUCT_NAME', 'MARGIN']].values

mask = (df_product['numeric_value'] > 1) & (df_product['numeric_value'] <= 999.99)
df_product.loc[mask, ['PRODUCTION_COST', 'PRODUCT_NAME']] = df_product.loc[mask, ['PRODUCT_NAME', 'PRODUCTION_COST']].values

# Verwijder de tijdelijke kolom 'numeric_value'
df_product.drop('numeric_value', axis=1, inplace=True)

Daar waar PRODUCT_CODE=20 en 48 lijkt nog niet gedaan te zijn. 20 moet naar margin en 48 moet naar production cost.

In [24]:
mask = df_product['PRODUCT_NUMBER'] == 48
df_product.loc[mask, ['PRODUCT_NAME', 'PRODUCTION_COST']] = df_product.loc[mask, ['PRODUCTION_COST', 'PRODUCT_NAME']].values

In [25]:
mask = df_product['PRODUCT_NUMBER'] == 20
df_product.loc[mask, ['PRODUCT_NAME', 'MARGIN']] = df_product.loc[mask, ['MARGIN', 'PRODUCT_NAME']].values

Verwissel vervolgens allwas wat op een datum lijkt in PRODUCT_DESCRIPTION met PRODUCTION_DATE

In [26]:
import numpy as np

#Vervang NaN waarden met 0 in de PRODUCTION_COST kolom
df_product['PRODUCTION_COST'].fillna(0, inplace=True)

#Vervang waarden in DESCRIPTION die lijken op een getal met de overeenkomende waarden in de kolom PRODUCTION_COST
mask = df_product['DESCRIPTION'].str.match(r'^\d+(\.\d+)?$')
df_product['PRODUCTION_COST'] = pd.to_numeric(df_product['PRODUCTION_COST'], errors='coerce').fillna(0)
df_product.loc[mask, 'DESCRIPTION'] = df_product.loc[mask, 'PRODUCTION_COST'].apply(lambda x: f'{x:.2f}')

#Vervang NaN waarden in DESCRIPTION met "Onbekend"
df_product['DESCRIPTION'].fillna('Onbekend', inplace=True)

Verwissel vervolgens alle numerieke waarden in DESCRIPTION met PRODUCTION_COST. Er zijn 5 foutieve waarden in het tussendoor outputten van het excel bestand

Exporteer naar excel, en doe maar ook CSV

Rapport nummer 3?4? whatever

In [27]:
profile4 = ProfileReport(df_product, title = 'Kwaliteitsrapportage dfPRODUCT')
profile4.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [28]:
df_product.to_excel('dfPRODUCT_NIEUW.xlsx', index=False)
df_product.to_csv('dfPRODUCT_new.csv', index=False)